.top_header{
  display:flex;
  justify-content: center;
}

.main_component {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color:  rgb(100, 148, 236);
  color: ghostwhite;
  
    
  }

  #full-app{
    position:relative;
  }




