.top_header{
  display:flex;
  justify-content: center;
}

.main_component {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:  rgb(100, 148, 236);
    
  }




