.list_item_recipe{
    width:30%;
    flex-wrap:wrap;
    margin-bottom: 30px;
    border: 1px;
    border-style:solid;
    border-color: ghostwhite;
    background-color: rgb(100, 148, 236);
    color: ghostwhite;
    
}

.recipe_header{
    display:flex;
    justify-content: center;
    width:100%;
    color: ghostwhite;
}

.list_of_recipes {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width: auto;
    list-style-type: none;
}