.tips{
    width:auto;
    display:flex;
    flex-direction:column;
    list-style-type: none;
    margin-top: 6.2%;
    border: 1px;
    border-style:solid;
    border-color: ghostwhite;
    background-color: rgb(100, 148, 236);
    color: ghostwhite;
    height: 400px;
    position: fixed;
    right:100px;
    
}
.link{
    text-decoration: ;
    color:ghostwhite;
    
}

.tips-header{
    text-align: center;
    text-decoration: underline;
}

.tips-list{
    margin-right: 50px;
}